<!-- 開始_ユーザーの情報一覧 -->
<table class='table'>
    <tr>
      <%= image_tag @user.get_profile_image(100,100) %>
    </tr>
    <tr>
  	  <th>name</th>
  	  <th><%= @user.name %></th>
    </tr
    <tr>
  	  <th>introduction</th>
  	  <th><%= @user.introduction %></th>
    </tr>
    <tr>
      <th>
      <%= link_to "編集", edit_user_path(@user.id) %>
      </th>
    </tr>
</table>
<!-- 終了_ユーザーの情報一覧 -->

<!--<ここで新しい本の投稿を行う>-->
<h1>New book</h1>

  <%= form_with model: @book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %></br>
    <%= f.submit 'Create Book' %>
  <% end %>


<!-- 開始_ユーザーの情報一覧 -->
<table class='table'>
  <tr>
    <th colspan="1"></th>
    <th>　Title　</th>
    <th> Opinion </th>
  </tr>

 <% @books.each do |book| %>
  <tr>
    <td><%= image_tag book.user.get_profile_image(100,100) %></td>
  	<td><%= link_to book.title,book_path(book)%></td>
  	<td><%= book.body %> </td>
  </tr>
 <% end %>
</table>
<!-- 終了_ユーザーの情報一覧 -->