<%= render 'users/user', user: @user,book: @book %>
<div class="col-md-8 offset-md-1">
  <h1>Book detail</h1>
  <table class="table">
    <tr>
      <td>
        <%= image_tag @bookdetail.user.get_profile_image(40,40) %>
        </br><%= link_to @bookdetail.user.name ,user_path(@user) %>
      </td>
      <td><%= @bookdetail.title %></td>
      <td><%= @bookdetail.body %></td>
    <% if @bookdetail.user_id == current_user.id %>
      <td><%= link_to "Edit",edit_book_path(@bookdetail) %></td>
      <td><%= link_to "Destroy", book_path(@bookdetail), method: :delete, data: {confirm: "本当に消しますか？"} %></td>
    <% end %>
   </tr>
  </table>
</div>